{% load modelview_extras %}
<tr>
    <td class="sheetlabel"> 
        {% assign_field_attr model field 'help_text' as vname %} 
        {% assign_field model field as f %}
        {% if vname %}
            <a href='javascript://' data-toggle='popover' data-trigger="focus" title="" data-content="{{ vname }}">
                <span class='glyphicon glyphicon-question-sign'></span>
            </a>
        {% endif %}

        {{f.label}}
    </td>
    <td> 
        {% include 'modelview/field_snippet.html' with model=model field=field %}
    </td>
</tr>
